<html layout:decorate="~{layout}">
<!--<th:block th:replace="~{from_csrf_metatags :: formCSRFMetaTagsFragment}"></th:block>-->
<head>
<th:block layout:fragment="csrfMeta">
  <meta id="_csrf_parameter" name="_csrf_parameter" th:content="${_csrf.parameterName}" />
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
</th:block>
</head>
<div layout:fragment="content" class="container my-3">
  <form id="loginForm" th:action="@{/user/login}" method="post">
    <div th:if="${param.error}" name="alert-area" class="alert-area">
      <div class="alert alert-danger">
        사용자ID 또는 비밀번호를 확인해 주세요.
      </div>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">사용자ID</label>
      <input type="text" name="name" id="name" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">비밀번호</label>
      <input type="password" id="passwordInput" class="form-control">
      <input type="hidden" id="password" name="password">
    </div>
    <button id="loginButton" type="button" class="btn btn-primary">로그인</button>
  </form>
</div>
<th:block layout:fragment="script">
  <script th:src="@{/lib/crypto-js.min.js}"></script>
  <script type="module" th:src="@{/js/user-crypt-helper.js}"></script>
  <script type="module" th:src="@{/js/utils.js}"></script>
  <script th:src="@{/js/login_form.js}"></script>
</th:block>
</html>