<!-- 페이징처리 시작 -->
<div th:fragment="paginationFragment" th:if="${!paging.isEmpty()}">
  <ul id="pagination" class="pagination justify-content-center">
    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
      <a class="page-link"
         href="javascript:void(0)" th:data-page="${0}">
        <span>처음</span>
      </a>
    </li>
    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
      <a class="page-link"
         href="javascript:void(0)" th:data-page="${paging.number - 1}">
        <span>이전</span>
      </a>
    </li>
    <li th:each="page: ${#numbers.sequence(0, paging.totalPages - 1)}"
        th:if="${page >= paging.number - 5 and page <= paging.number + 5}"
        th:classappend="${page == paging.number} ? 'active'"
        class="page-item">
      <a class="page-link"
         href="javascript:void(0)" th:data-page="${page}"
         th:text="${page + 1}"></a>
    </li>
    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
      <a class="page-link"
         href="javascript:void(0)" th:data-page="${paging.number + 1}">
        <span>다음</span>
      </a>
    </li>
    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
      <a class="page-link"
         href="javascript:void(0)" th:data-page="${paging.getTotalPages - 1}">
        <span>마지막</span>
      </a>
    </li>
  </ul>
</div>
<!-- 페이징처리 끝 -->