<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="row my-3">
        <div class="col-6">
            <a th:href="@{/post/create}" class="btn btn-primary">게시글 등록하기</a>
        </div>
        <div class="col-6">
            <div class="input-group">
                <input type="text" id="search_keyword" class="form-control" th:value="${keyword}">
                <button class="btn btn-outline-secondary" type="button" id="searchButton">찾기</button>
            </div>
        </div>
    </div>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th style="width:50%">제목</th>
            <th>글쓴이</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="post, loop : ${paging}">
<!--            // 번호 = 전체 게시물 개수 - (현재 페이지 * 페이지당 게시물 개수) - 나열 인덱스-->
            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
            <td class="text-start">
                <a th:href="@{|/post/detail/${post.id}|}">[[${post.title}]]</a>
                <span class="text-danger small ms-2"
                      th:if="${#lists.size(post.commentList) > 0}"
                      th:text="${#lists.size(post.commentList)}">
                </span>
            </td>
            <td><span th:if="${post.author != null}" th:text="${post.author.user.name}"></span></td>
            <td th:text="${#temporals.format(post.createAt, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>

    <div th:replace="~{pagination :: paginationFragment}"></div>

    <form th:action="@{/post/list}" method="get" id="searchForm">
        <input type="hidden" id="keyword" name="keyword" th:value="${keyword}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/post_list.js}"></script>
</th:block>
</html>